mixin accordion(data, prefix, mod)
	- itemClass = prefix ||'accordion';
	- itemMod = mod || '';
	-	itemEl = `${itemClass}__item`;
	- itemHead = `${itemClass}__item_head`;
	-	itemTitle = `${itemClass}__item_title`;
	- itemIconWrap = `${itemClass}__item_icon_w`;
	- itemBody = `${itemClass}__item_body`;
	- itemBodyIn = `${itemClass}__item_body_in`;

	ul(class= `${prefix || 'accordion'} ${itemMod} `)
		each item, index in data
			li(class=itemEl)
				button(class=itemHead aria-controls=`item-${index + 1}` aria-expanded='false')
					div(class=itemTitle)= item.title
					if item.icon
						div(class=itemIconWrap)
							+icon( item.icon, 'size-mod')
				div(class=itemBody id=`item-${index + 1}` aria-hidden="true")
					if item.descr
						div(class=itemBodyIn)= item.descr
					block

+accordion([
		{
			title: 'accordion item 1',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',
			icon: 'arrow_down'
		},
		{
			title: 'accordion item 2',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',
			icon: 'arrow_down'
		},
		{
			title: 'accordion item 3',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dignissimos, aut magnam provident iste laborum at accusantium cupiditate fugiat. Consequatur deleniti maxime voluptas suscipit veritatis fuga sapiente porro temporibus architecto.',
			icon: 'arrow_down'
		},
	])